.images-holder {
  display:  flex;
  flex-direction:  row;
  overflow:  scroll;
  height: 430px;
  width: 90%;
}

img.park-images {
  height: 450px;
  width: 80%;
}

.comment-container {
  background: whitesmoke;
  padding-bottom: 20px;
}

.park-container {
  display:  flex;
  flex-direction:  column;
  width: 90%;
}

.individual-comments {
  display: grid;
  width: 400px;
  margin: auto;
  border:  1px solid;
}

.campground-container {
  border: 1px black solid;
  display: flex;
  height: auto;
  background: whitesmoke;
  overflow: scroll;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}