.Details{
  font-family: 'LibreBaskerville', serif;
  display: flex;
  flex-direction: column;
  .detail-box{
  background: white;
  border-radius: 4px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px black solid;
    p{
    margin: 0px 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    }
    button{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    a{
    text-decoration: none;
    margin: auto;
    }
    .images-holder{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 450px;
    overflow: scroll;
    margin: auto;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    .detail-image{
      height: 100%;
    }
    }
    .park-buttons-detail{
      display: flex;
      flex-direction: row;
    }
  }
}

.comment-container {
  font-family: 'LibreBaskerville', serif;
  background: white;
  padding-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border: 1px black solid;
  border-radius: 4px;
  .individual-comments {
    display: grid;
    width: 90%;
    margin: auto;
    border-top:  1px solid;
    height: auto;
    .delete-comment-button{
      width: 70px;
      margin: auto;
      margin-bottom: 10px;
    }
    p{
      margin: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    }
  h3{
    margin: 0px;
  }
  h2{
    margin: 0px;
  }
}

.park-container {
  display:  flex;
  flex-direction:  column;
  width: 50%;
}

.back-button-details{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: 30px;
  width: 70px;
  margin-top: 10px;
  }

.campground-container {
  font-family: 'LibreBaskerville', serif;
  border: 1px black solid;
  display: flex;
  height: auto;
  background: white;
  overflow: scroll;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  ul{
    margin-left: auto;
    margin-right:  auto;
    width: 100%;
    padding: 0px;
    border-top: 1px solid black;
  }
}

button.back-button-details {
  height: 30px;
  width: 175px;
  font-size: 15px;
  border-radius: 4px;
  background: green;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

//mobile
@media (max-width: 499px){
  .Details{
    .detail-box {
      width: 85%;
    }
  }
  .campground-container{
    width: 85%;
  }
  .comment-container {
    width: 85%;
  }
  .distance-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    }
    .detail-box{
      .images-holder{
        display: flex;
        overflow: scroll;
        flex-direction: row;
      }
    }
  }