body {
  margin: 0px;
  font-family: 'LibreBaskerville', serif; }

.park-list {
  overflow: scroll;
  height: 70vh;
  width: 100%;
  margin: auto; }
  .park-list p {
    margin-left: 30px;
    margin-right: 30px; }

.select-state-drop-down {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  height: 30px;
  width: 175px;
  font-size: 15px;
  border-radius: 4px;
  border: 0;
  overflow: hidden;
  box-shadow: 1px 1px 11px black; }

.AddPark {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; }
  .AddPark p {
    margin-left: 50px;
    margin-right: 50px; }
  .AddPark .searchButton {
    height: 30px;
    width: 175px;
    font-size: 15px;
    border-radius: 4px;
    background: green;
    margin-bottom: 10px;
    color: white; }
  .AddPark .park-box {
    border: 1px black solid;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 125px;
    margin-right: 125px;
    border-radius: 4px; }
  .AddPark .dashboard-button {
    height: 30px;
    margin-left: auto;
    margin-right: auto; }

.add-park-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.add-park-images-holder {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: auto;
  margin: auto;
  width: 90%;
  justify-content: space-around; }

@media (max-width: 499px) {
  .park-list {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%; }

  .AddPark .park-box {
    width: 95%;
    margin: 0px; }
    .AddPark .park-box .add-park-images-holder img {
      width: 100%; } }
button.search-button {
  width: auto;
  border: 1px black solid;
  border-radius: 4px;
  color: white;
  margin-top: -10px;
  background: green;
  font-size: 22px;
  height: auto;
  padding: 8px; }

.Dashboard {
  font-family: 'LibreBaskerville', serif;
  width: 100%;
  display: flex;
  flex-direction: column; }

h2.dashboard-title {
  font-size: 29px; }

.MyPark-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  height: auto; }

img.myParkImages {
  height: 280px;
  width: 300px; }

.my-park-details {
  display: flex;
  width: 80%;
  align-content: center;
  flex-direction: column;
  border: 1px black solid;
  background: white;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: scroll; }
  .my-park-details .park-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    width: auto;
    margin-bottom: 10px; }
  .my-park-details p {
    margin-left: 20px;
    margin-right: 20px; }
  @media (max-width: 499px) {
    .my-park-details .dashboard-image-holder {
      overflow: scroll;
      display: flex;
      flex-direction: row; } }

.Details {
  font-family: 'LibreBaskerville', serif;
  display: flex;
  flex-direction: column; }
  .Details .detail-box {
    background: white;
    margin-top: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
    .Details .detail-box p {
      margin: 0px 50px;
      margin-bottom: 10px; }
    .Details .detail-box button {
      margin-top: 5px; }
    .Details .detail-box a {
      text-decoration: none;
      margin: auto; }
    .Details .detail-box .images-holder {
      display: flex;
      flex-direction: column;
      width: 750px;
      height: 450px;
      overflow: scroll;
      margin: auto;
      justify-content: center;
      margin-bottom: 10px;
      margin-top: 10px; }
      .Details .detail-box .images-holder .detail-image {
        height: 100%; }
    .Details .detail-box .park-buttons-detail {
      display: flex;
      flex-direction: row; }

.comment-container {
  font-family: 'LibreBaskerville', serif;
  background: whitesmoke;
  padding-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto; }
  .comment-container .individual-comments {
    display: grid;
    width: 90%;
    margin: auto;
    border-top: 1px solid;
    height: auto; }
    .comment-container .individual-comments .delete-comment-button {
      width: 70px;
      margin: auto;
      margin-bottom: 10px; }
    .comment-container .individual-comments p {
      margin: 0px;
      margin-top: 5px;
      margin-bottom: 5px; }
  .comment-container h3 {
    margin: 0px; }
  .comment-container h2 {
    margin: 0px; }

.park-container {
  display: flex;
  flex-direction: column;
  width: 50%; }

.back-button-details {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: 30px;
  width: 70px;
  margin-top: 10px; }

.campground-container {
  font-family: 'LibreBaskerville', serif;
  border: 1px black solid;
  display: flex;
  height: auto;
  background: whitesmoke;
  overflow: scroll;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-bottom: 10px; }

@media (max-width: 499px) {
  .distance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px; }

  .detail-box .images-holder {
    display: flex;
    overflow: scroll;
    flex-direction: row; } }
.Header {
  background: black;
  font-family: 'LibreBaskerville', serif;
  color: white;
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between; }
  .Header a {
    color: white;
    text-decoration: none;
    font-size: 14px; }
  .Header button {
    color: white;
    background: black;
    border: none;
    font-size: 14px; }

.header-logo {
  margin-left: 80px; }

.button-container {
  background: black;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  justify-content: space-evenly;
  height: 100%;
  align-content: space-evenly; }

h1.header-text {
  font-size: 44px; }

@media (max-width: 499px) {
  .Header {
    display: flex;
    height: 100px;
    width: 100%; }
    .Header a {
      margin-left: 45px;
      font-size: 12px; }
    .Header button {
      margin-left: 45px;
      font-size: 12px; }
    .Header .header-logo {
      margin-left: 20px; }
    .Header h1 {
      font-size: 30px; } }
body {
  margin: 0px;
  font-family: 'LibreBaskerville', serif; }

.login-register-container {
  border: 1px black solid;
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  background: whitesmoke;
  box-shadow: 2px 3px 8px 2px black;
  margin: 0px auto; }
  .login-register-container .login-button {
    display: flex; }
  .login-register-container button {
    height: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 70px;
    align-items: center; }

.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column; }

.title-container {
  margin-top: 200px; }

body {
  margin: 0px;
  font-family: 'LibreBaskerville', serif; }

input.update-input {
  border: none;
  border-bottom: 1px black solid;
  display: flex;
  width: 200px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-size: 17px; }

.update-form {
  display: flex;
  justify-content: center; }

label.update-label {
  font-size: 20px; }

/*# sourceMappingURL=index.css.map */
