@font-face {
  font-family: 'LibreBaskerville';
  src: url('../../Assets/LibreBaskerville-Regular.ttf')
}

body {
  margin: 0px;
  font-family: 'LibreBaskerville', serif;
}

.park-list {
  overflow: scroll;
  height: 70vh;
  width: 100%;
  margin: auto;
  p{
    margin-left: 30px;
    margin-right: 30px;
  }
}

.select-state-drop-down{
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  height: 30px;
  width: 175px;
  font-size: 15px;
  border-radius: 4px;
  border: 0;
  overflow: hidden;
  box-shadow: 1px 1px 11px black;
}

.AddPark{
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  p{
  margin-left:50px;
  margin-right: 50px;
  }
  .searchButton{
  height: 30px;
  width: 175px;
  font-size: 15px;
  border-radius: 4px;
  background: green;
  margin-bottom: 10px;
  color: white;
  }
  .park-box{
    border: 1px black solid;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 125px;
    margin-right: 125px;
    border-radius: 4px;
  }
  .dashboard-button{
    height: 30px;
   margin-left: auto;
   margin-right: auto;

  }
}

.add-park-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-park-images-holder{
display: flex;
flex-direction: row;
overflow: scroll;
height: auto;
margin: auto;
width: 90%;
justify-content: space-around;
}
//mobile friendly
@media (max-width: 499px){
  .park-list{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    }
    .AddPark{
      .park-box{
        width: 95%;
        margin: 0px;
        .add-park-images-holder{
          img{
            width: 100%;
          }
        }
      }
    }
  }