
.park-list {
  overflow: scroll;
  height: 70vh;
  width: 90%;
  margin: auto;
}

.add-park-images-holder{
display: flex;
flex-direction: row;
overflow: scroll;
height: auto;
margin: auto;
width: 90%;
justify-content: space-around;
}