.details {
  margin: 35px 150px 50px 150px;
}

.register-form {
  border:  1px black solid;
  width: 300px;
  height: auto;
  margin:  auto;
  box-shadow: 2px 3px 8px 2px black;
}

.register-container {
  display:  flex;
  flex-direction:  column;
}