

body {
  margin: 0px;
  font-family: 'LibreBaskerville', serif;
}

.details {
  margin: 35px 150px 50px 150px;
  display:  flex;
  flex-direction:  column;
}

.register-form {
  border:  1px black solid;
  width: 300px;
  height: auto;
  margin:  auto;
  box-shadow: 2px 3px 8px 2px black;
}

.register-container {
  display:  flex;
  flex-direction:  column;
  button{
    height: 25px;
    justify-content: center;
    width: 70px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}