.login-register-container {
  border: 1px black solid;
  margin-top: 20%;
  width: 410px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.login-page {
  height:  100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}