.login-register-container {
  border: 1px black solid;
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  background: whitesmoke;
  box-shadow: 2px 3px 8px 2px black;
  margin: 0px auto;
  .login-button{
    display: flex;
  }
  button{
    height: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 70px;
    align-items: center;
  }
}

.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.title-container {
  margin-top: 150px;
}